.header{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2rem;
    background-color: #222;
    height: 60px;
}

.user{
    display: flex;
}
.userName{
    color: white;
    margin-right: 1.4rem;
    font-weight: 600;
    font-size: 1.2rem;}